*{
    margin: 0px;
    padding: 0px;
    font-family: Calibri;
  }
  .container{
  width: 80%;
  padding-top:10px;
  padding-bottom: 10px;
  margin-left: 10%;
  }
  
  .padd {
      padding:20px;
  }
  
  .header {
          height: 50px;
          width: 100%;
          display:flex;
          justify-content:space-between;
  }
  
  .cards{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding-bottom: 20px;
      
  }
  .card{
      height:300px;
      width:18%;
      background-color: rgb(0, 0, 0);
      margin-top: 20px;
      background-size: cover;
      border-radius: 15px;
      
  }
  
  .opened {
      display: none;
  }
  
  .overlay {
      height: 300px;
      width: 100%;
      background-color: rgb(80, 156, 255);
      border-radius: 15px;
  }
